*:root {
  --primary-background: #1e1e1e;
  --secondary-background: #61dafb;
  --tertiary-background: #1b2035;
  --primary-fontcolor: #ffffff;
  --hover-color: #42a5f5;
  --Form-color: #202d47;
  --light--color: #f2f2f2;

  /*=======Container-Variables====*/
  --lg-container-width: 80%;
  --md-container-width: 90%;
  --sm-container-width: 94%;

  /*=======Transitition-Variables====*/
  --transition: all 400ms ease-in-out;

  /*=======Fonts-Variables====*/
  --fonts-major-headings: 3rem;
  --fonts-sub-headings: 2.5rem;
  --fonts-sub-primary: 2rem;
  --fonts-secondary: 1.5rem;
  --fonts-paragraph: 1.25rem;
  --fonts-link: 1rem;
  --fonts-small: 0.65rem;

  /*=======Fonts-family-Variables====*/
  --fonts-nunito: "Nunito Sans", sans-serif;
}

.light-mode {
  --primary-fontcolor: #1b2035;
  --tertiary-background: #ffffff;
  --primary-background: #f2f2f2;
  --Form-color: #cde6fa;
}

/*=======General-Reset====*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: var(--fonts-nunito);
  background-color: var(--primary-background);
  line-height: 1.5;
  color: var(--primary-fontcolor);
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

section {
  padding: 4rem 0;
}

h1 {
  font-size: var(--fonts-major-headings);
}

h2 {
  font-size: var(--fonts-sub-headings);
}

h3 {
  font-size: var(--fonts-secondary);
}

h4 {
  font-size: var(--fonts-link);
}

/*=======Reusable Component====*/
.container {
  width: var(--lg-container-width);
  margin: 0 auto;
}

.grid--2--cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

/*=======Nav-Component====*/
nav {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 6rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.window-scroll {
  background-color: var(--tertiary-background);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav-menu a {
  color: var(--primary-fontcolor);
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  font-size: var(--fonts-link);
}

.nav-menu a:hover {
  color: var(--hover-color);
  border-bottom: 2px solid var(--hover-color);
}

button {
  display: none;
  border: none;
}

.icon-moon {
  width: 1.8rem;
  cursor: pointer;
}

.logo-link {
  position: relative;
}

.top-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.top-img:hover {
  opacity: 1;
}

/*=======Hero-Component====*/
.hero {
  position: relative;
  top: 6rem;
  height: 70vh;
  margin-bottom: 5rem;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  height: 100%;
}

.type::after {
  content: "";
  border-left: 3px solid black;
  animation: blinking 400ms infinite ease-in;
}

/*=============================IMAGE-HOVER-EFFECT===============================*/
.hero-img {
  position: relative;
  margin-block: 3rem;
  max-width: 70%;
  display: inline-block;
  overflow: hidden;
  margin-left: 3rem;
}

.img-hero {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease;
}

.hero-img:hover img {
  opacity: 0;
}

.hero-img:hover img.img-hero {
  opacity: 1;
}

/*=============================ABOUT=STYLE===============================*/

.about-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.img-logo {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.logo-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease;
}

.img-logo:hover img {
  opacity: 0;
}

.img-logo:hover img.logo-img {
  opacity: 1;
}

.text-left p {
  font-size: var(--fonts-paragraph);
  text-align: center;
}

.text-right {
  font-size: var(--fonts-paragraph);
  text-align: center;
}

.btn {
  text-align: center;
  margin-top: 1.5rem;
}

.btn-cv {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--hover-color);
  color: var(--primary-fontcolor);
  cursor: pointer;
  transition: var(--transition);
  font-weight: 400;
  font-size: var(--fonts-link);
}

.btn-cv:hover {
  background-color: var(--primary-fontcolor);
  color: var(--primary-background);
}

.skills h2 {
  text-align: center;
  margin-block: 2rem;
}

.skills .skills-tags {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-item img {
  width: calc(33.33%-10px);
  height: auto;
}

/*=============================CURSOR=EFFECT===============================*/
.cursor {
  position: fixed;
  left: 0;
  top: 0;
  border: 1px solid #c6c6c6;
  width: 3.3rem;
  height: 3.3rem;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s;
}

.cursor2 {
  position: fixed;
  left: 0;
  top: 0;
  border: 1px solid #c6c6c6;
  width: 0.5rem;
  height: 0.5rem;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}
/*=============================SERVICE=STYLE===============================*/

.service {
  height: 30rem;
}

.service-header {
  text-align: center;
  margin-bottom: 3rem;
}

.tags {
  background-color: var(--tertiary-background);
  padding: 4rem;
  border-radius: 2rem;
}

.tags span {
  font-size: 2rem;
  margin: 0 auto 2rem;
}

.tags h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.tags p {
  text-align: center;
  font-size: var(--fonts-link);
}

.tags:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

/*=============================CONTACT=STYLE===============================*/

.container-contact {
  padding: 6rem;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: var(--tertiary-background);
  gap: 4rem;
  border-radius: 1rem;
  height: 30rem;
  margin: 7rem auto;
}

.aside-box {
  background-color: var(--tertiary-background);
  padding: 3rem;
  position: relative;
  border-radius: 1rem;
  bottom: 9rem;
}

.img-aside {
  width: 10rem;
  margin-bottom: 2rem;
}

.aside-box p {
  font-size: var(--fonts-link);
  margin-bottom: 2rem;
}

.contact-info li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-contact {
  display: flex;
  margin-top: 3rem;
  gap: 0.7rem;
}

.social-contact li a {
  font-size: var(--fonts-paragraph);
  color: var(--primary-fontcolor);
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-name {
  display: flex;
  gap: 1.2rem;
}

.form-contact input[type="text"] {
  width: 50%;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  color: var(--primary-fontcolor);
  background-color: var(--Form-color);
}

.form-contact .btn-cv {
  width: max-content;
  margin-top: 1rem;
}

/*=============================FOOTER=STYLE===============================*/

footer {
  border-top: 1px solid var(--primary-fontcolor);
  padding-top: 5rem;
  margin-bottom: 2rem;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

small {
  display: block;
}

.social {
  display: flex;
  gap: 1.2rem;
}

.social li a {
  font-size: var(--fonts-paragraph);
  color: var(--primary-fontcolor);
}

/*=============KEYFRAME-ANIMATION=============*/

@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes NavMenu {
  0% {
    transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
  }
  100% {
    transform: rotateZ(0) rotateX(0) scale(1);
    opacity: 1;
  }
}

/*=============MEDIA QUERIES(TABLETS)=============*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--md-container-width);
  }

  section {
    padding: 2rem 0;
  }

  h1 {
    font-size: var(--fonts-sub-headings);
  }

  h2 {
    font-size: var(--fonts-sub-primary);
  }

  /*=============NAV BAR=============*/

  nav button {
    display: inline-block;
    cursor: pointer;
    font-size: var(--fonts-sub-primary);
    background: transparent;
    color: var(--primary-fontcolor);
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav-menu {
    position: fixed;
    top: 5rem;
    height: fit-content;
    right: 5%;
    flex-direction: column;
    gap: 0;
    width: 18rem;
  }

  .nav-menu li {
    width: 100%;
    height: 5.8rem;
    animation: NavMenu 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }

  .nav-menu li a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: var(--tertiary-background);
    transition: var(--transition);
  }

  .nav-menu li a:hover {
    background-color: var(--tertiary-background);
  }

  .nav-menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav-menu li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav-menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  /*=============ABOUT=============*/

  .flex-container img {
    width: calc(50% - 10px);
  }

  /*=============SERVICE=============*/
  .service {
    height: auto;
  }

  .tags {
    padding: 2rem;
  }

  /*=============CONTACT=============*/
  .container-contact {
    gap: 1.5rem;
    margin-top: 3rem;
    padding: 1rem;
    height: auto;
  }

  .aside-box {
    padding: 1.5rem;
    width: auto;
    bottom: 0;
  }

  .form-contact {
    align-self: center;
    margin-right: 1.5rem;
  }
}

/*=============MEDIA QUERIES(PHONES)=============*/

@media screen and (max-width: 600px) {
  .container {
    width: var(--sm-container-width);
  }

  h1 {
    font-size: var(--fonts-sub-primary);
  }
  h4 {
    font-size: var(--fonts-small);
  }

  /*==============HERO=================*/
  .hero-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .hero-text {
    text-align: center;
  }

  /*=============ABOUT=============*/
  .flex-container img {
    width: calc(100% - 10px);
  }

  /*=============CONTACT=============*/
  .container-contact {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0;
  }

  .grid--2--cols {
    grid-template-columns: 1fr;
  }

  .form-name {
    flex-direction: column;
  }

  .form-contact input[type="text"] {
    width: 100%;
  }

  .form-contact {
    margin: 0 1.5rem 3rem;
  }

  /*=============FOOTER=============*/
  footer {
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .copyright {
    flex-direction: column;
  }
}
