*:root {
  --primary-background: #1e1e1e;
  --secondary-background: #61dafb;
  --tertiary-background: #1b2035;
  --primary-fontcolor: #ffffff;
  --main-fontcolor: #f2f2f2;
  --hover-color: #42a5f5;

  /*=======Container-Variables====*/
  --lg-container-width: 80%;
  --md-container-width: 90%;
  --sm-container-width: 94%;

  /*=======Fonts-Variables====*/
  --fonts-major-headings: 4rem;
  --fonts-sub-headingss: 2.5rem;
  --fonts-sub-primary: 2rem;
  --fonts-paragraph: 1.25rem;

  /*=======Fonts-family-Variables====*/
  --fonts-nunito: "Nunito Sans", sans-serif;
}

/*=======General-Reset====*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: var(--fonts-nunito);
  background-color: var(--primary-background);
  line-height: 1.5;
  color: var(--primary-fontcolor);
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

section {
  padding: 4rem 0;
}

/*=======Reusable Component====*/
.container {
  width: var(--lg-container-width);
  margin: 0 auto;
}

.btn {
  text-align: center;
  margin-top: 1.5rem;
}

/*=======Nav-Component====*/
nav {
  width: 100vw;
  height: 6rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav-menu a {
  color: var(--primary-fontcolor);
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.nav-menu a:hover {
  color: var(--hover-color);
  border-bottom: 2px solid var(--hover-color);
}

button {
  display: none;
  border: none;
}

.icon-moon {
  width: 1.8rem;
}

.logo-link {
  position: relative;
}

.top-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.top-img:hover {
  opacity: 1;
}

/*=======Hero-Component====*/
.hero {
  position: relative;
  top: 6rem;
  height: 70vh;
  margin-bottom: 5rem;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  height: 100%;
}

.hero-text {
  width: var(--lg-container-width);
}

/*=============================IMAGE-HOVER-EFFECT===============================*/
.hero-img {
  position: relative;
  margin-top: 2rem;
  width: var(--lg-container-width);
  display: inline-block;
  overflow: hidden;
}

.img-hero {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease;
}

.hero-img:hover img {
  opacity: 0;
}

.hero-img:hover img.img-hero {
  opacity: 1;
}

/*=============================ABOUT=STYLE===============================*/

.about {
  background-color: var(--tertiary-background);
  height: 80vh;
}

.about-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.about-header h2 {
  font-size: var(--fonts-sub-headingss);
  font-weight: 700;
}

.img-logo {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.logo-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease;
}

.img-logo:hover img {
  opacity: 0;
}

.img-logo:hover img.logo-img {
  opacity: 1;
}

.about-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.btn-cv {
  display: inline-block;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  background-color: var(--hover-color);
  color: var(--main-fontcolor);
  cursor: pointer;
  transition: all 400ms ease-in-out;
  font-weight: 400;
}

.btn-cv:hover {
  background-color: var(--primary-fontcolor);
  color: var(--primary-background);
}
